# Environnements virtuels
venv/
env/

# Base de données (SQLite)
*.sqlite3
*.db

# Fichiers sensibles
# --- Environment Variables ---
*.env

*.env.local
hedera_service/.env
solidavenir/.env


# Fichiers Python compilés
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# Node (si jamais tu utilises du JS/React)
node_modules/
node_modules
# OS
.DS_Store
Thumbs.db

# Static & Media (générés, pas besoin en Git)
staticfiles/
media/

# Migrations 
 **/migrations/*.py
 !**/migrations/__init__.py
